<!DOCTYPE html>
<html>
  <body>
    <img src='static/test' alt='test' style='width:300px;height:300px;'></br></br>
    <form action='create' method='post'>
      <input type='text' id='text' name='text'> 
      <input type='submit' value='Create TODO'>
    </form>
    <ul>
      {{range $i, $v := .Todos}}
        <li>
          <form action='toggle/{{$v.ID}}' method='post'>
            <input type='checkbox' id='{{$v.ID}}' name='{{$v.ID}}' onclick='return false;' {{if $v.Done}}checked{{end}}> 
            <input type='submit' value='Toggle'>
            <label>{{$v.Text}}</label>
          </form>
        </li>
      {{end}}
    </ul>
  </body>
</html>
