<!DOCTYPE html>
<html>
  <body>
    <img src='static/test' alt='test' style='width:300px;height:300px;'></br></br>
    <form action='submit' method='post'>
      <input type='text' id='todo' name='todo'> 
      <input type='submit' value='Create TODO'>
    </form>
    <ul>
      {{range $i, $v := .Todos}}
        <li>
          <form action='update' method='post'>
            <input type="checkbox" id={{$v.ID}} {{if $v.Done}}checked{{end}}> 
            <label>{{$v.Text}}</label>
            <input type='submit' value='Update TODO'>
          </form>
        </li>
      {{end}}
    </ul>
  </body>
</html>
